*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 450px){
    *{

    }

    section
    {
        height: 100vh;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
    }

    section .text
    {
        color: white;
        font-size: 8em;
        font-weight: bold;
        user-select: none;
        text-align: center;
    }

    section .text span
    {
        display: inline-block;
    }

    section .text span.active
    {
        animation: smoke 2s linear forwards;
        /* transform-origin: bottom; */
        
    }

    @keyframes smoke 
    {
        0%
        {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0) translateY(0) rotate(720deg)
            scale(1);
        }

        50%
        {
            opacity: 1;
        }

        100%
        {
            opacity: 0;
            filter: blur(20px);
            transform: translateX(300px) translateY(-300px) rotate(480deg)
            scale(4);
        
    }
}